#!/bin/bash

if ! gnome-extensions list | grep -q "appindicatorsupport@rgcjonas.gmail.com"; then
    echo Reboot and run chezmoi apply again to enable the GNOME extensions
    exit 0
fi

{{ if eq .chezmoi.osRelease.id "fedora"}}

gnome-extensions enable appindicatorsupport@rgcjonas.gmail.com
gnome-extensions enable openweather-extension@jenslody.de
gnome-extensions enable pomodoro@arun.codito.in

gnome-extensions enable auto-move-windows@gnome-shell-extensions.gcampax.github.com
gsettings set org.gnome.shell.extensions.auto-move-windows application-list "['foot.desktop:1', 'com.mitchellh.ghostty.desktop:1', 'org.telegram.desktop.desktop:2', 'brave-pncokljfhdpookhbmckogfekccifihca-Default.desktop:2', 'md.obsidian.Obsidian.desktop:3', 'io.dbeaver.DBeaverCommunity.desktop:4']"

{{ else if eq .chezmoi.osRelease.id "arch"}}

gnome-extensions enable arch-update@RaphaelRochet
gsettings set org.gnome.shell.extensions.arch-update always-visible false
gsettings set org.gnome.shell.extensions.arch-update enable-positioning true
gsettings set org.gnome.shell.extensions.arch-update update-cmd 'ghostty --command="paru -Syu --noconfirm ; echo Done - Press enter to exit; read _"'
gsettings set org.gnome.shell.extensions.arch-update use-buildin-icons true

gnome-extensions enable bluetooth-quick-connect@bjarosze.gmail.com
gsettings set org.gnome.shell.extensions.bluetooth-quick-connect show-battery-value-on true

gnome-extensions enable appindicatorsupport@rgcjonas.gmail.com
gnome-extensions enable openweather-extension@jenslody.de
gnome-extensions enable pomodoro@arun.codito.in
gnome-extensions enable unblank@sun.wxg@gmail.com

gnome-extensions enable weatheroclock@CleoMenezesJr.github.io
gsettings set org.gnome.shell.extensions.weather-oclock weather-after-clock true

gnome-extensions enable unite@hardpixel.eu
gsettings set org.gnome.shell.extensions.unite autofocus-windows false
gsettings set org.gnome.shell.extensions.unite extend-left-box false
gsettings set org.gnome.shell.extensions.unite hide-activities-button never
gsettings set org.gnome.shell.extensions.unite show-window-buttons never
gsettings set org.gnome.shell.extensions.unite use-activities-text false

{{ else }}

echo "GNOME extensions are not supported on {{ .chezmoi.osRelease.prettyName }}"
exit 1

{{ end }}
