[user]
    email = ctretyak@gmail.com
    name = ctretyak
[pull]
    rebase = true
[push]
    default = simple
    autoSetupRemote = true
[fetch]
    prune = true
[rebase]
    autoStash = true
    autoSquash = true
[rerere]
    enabled = true
[diff]
    colorMoved = zebra
    algorithm = histogram
{{- if eq .chezmoi.os "windows" }}
[credential]
    helper = wincred
{{- else if .wsl }}
[credential]
    helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- else if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
[credential]
    helper = libsecret
{{- end }}
[include]
    path = ~/.gitconfig.d/_index.conf
