{{ template "zsh/p10k_init.zsh" . }}
{{ template "zsh/env.zsh" . }}
{{ template "zsh/zinit.zsh" . }}
{{ template "zsh/keybindings.zsh" . }}
{{ template "zsh/nvm.zsh" . }}
{{ template "zsh/custom.zsh" . }}
{{ template "zsh/p10k.zsh" . }}
{{ template "zsh/zoxide.zsh" . }}
{{ template "zsh/fzf.zsh" . }}
