{{ template "linux/zsh/p10k_init.zsh" . }}
{{ template "linux/zsh/env.zsh" . }}
{{ template "linux/zsh/zinit.zsh" . }}
{{ template "linux/zsh/keybindings.zsh" . }}
{{ template "linux/zsh/nvm.zsh" . }}
{{ template "linux/zsh/custom.zsh" . }}
{{ template "linux/zsh/p10k.zsh" . }}
{{ template "linux/zsh/zoxide.zsh" . }}
{{ template "linux/zsh/fzf.zsh" . }}
