- import_tasks: claude-code.yml
- import_tasks: cleanshot.yml
- import_tasks: iterm2.yml
- import_tasks: git.yml
- import_tasks: google-chrome.yml
- import_tasks: google-drive.yml
- import_tasks: keepassxc.yml
- import_tasks: obsidian.yml
- import_tasks: spotify.yml
- import_tasks: telegram.yml
- import_tasks: ticktick.yml
- import_tasks: viscosity.yml
- import_tasks: vscode.yml
- import_tasks: darkmodebuddy.yml
- import_tasks: docker.yml
- import_tasks: gpg.yml
- import_tasks: nvm.yml
- import_tasks: neovim.yml
- import_tasks: tmux.yml
- import_tasks: homebrew-update.yml
{{ if eq .hosttype "work" }}
- import_tasks: bruno.yml
- import_tasks: dbeaver.yml
{{ end }}
