- import_tasks: fonts.yml
- import_tasks: keyboard.yml
- import_tasks: claude-code.yml
- import_tasks: cleanshot.yml
- import_tasks: iterm2.yml
- import_tasks: git.yml
- import_tasks: google-chrome.yml
- import_tasks: keepassxc.yml
- import_tasks: obsidian.yml
- import_tasks: spotify.yml
- import_tasks: telegram.yml
- import_tasks: ticktick.yml
- import_tasks: viscosity.yml
- import_tasks: vscode.yml
{{ if output "bash" "-c" "system_profiler SPHardwareDataType 2>/dev/null | grep 'Model Name'" | lower | contains "macbook" }}
- import_tasks: darkmodebuddy.yml
{{ end }}
- import_tasks: docker.yml
- import_tasks: gpg.yml
- import_tasks: nvm.yml
- import_tasks: neovim.yml
- import_tasks: tmux.yml
- import_tasks: homebrew-update.yml
{{ if eq .hosttype "work" }}
- import_tasks: bruno.yml
- import_tasks: dbeaver.yml
{{ end }}
