{{ if eq (get .chezmoi.osRelease "id") "fedora" }}

- name: Install Docker # https://docs.fedoraproject.org/en-US/quick-docs/installing-docker/
  become: true
  package:
    name:
      - containerd
      - docker-cli
      - docker-compose

{{ else if eq (get .chezmoi.osRelease "id") "arch" }}

- name: Install Docker
  become: true
  package:
    name:
      - docker.io
      - docker-compose

- name: Install Docker
  become: true
  package:
    name:
      - docker
      - docker-compose

- name: Enable Docker service
  become: true
  systemd:
    name: docker
    enabled: true
    state: started
    
{{ else if eq (get .chezmoi.osRelease "id") "ubuntu" }}

- name: Install Docker on Ubuntu
  become: yes
  block:

  {{ if not ( isExecutable "/usr/bin/docker" ) }}

    - name: Install Docker - Ensure dependencies are installed
      apt:
        name:
          - ca-certificates
          - curl

    - name: Install Docker - Create keyrings directory
      file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Install Docker - Download Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Install Docker - Add Docker apt repository
      copy:
        dest: /etc/apt/sources.list.d/docker.list
        mode: '0644'
        content: |
          deb [arch={{ .chezmoi.arch }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ .chezmoi.osRelease.versionCodename }} stable
      register: add_docker_repo 

    - name: Install Docker - Update apt cache
      apt:
        update_cache: yes
      when: add_docker_repo.changed

  {{ end }}

    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin

{{ else if eq .chezmoi.os "darwin" }}

- name: Install Docker
  homebrew:
    name: docker
    state: present

- name: Install Docker Compose
  homebrew:
    name: docker-compose
    state: present

{{ else }}

- name: Install Docker
  fail:
    msg: "Docker is not supported on {{ get .chezmoi.osRelease "id" }}"

{{ end }}
