{{ if eq .chezmoi.osRelease.id "fedora" }}

- name: Install Google Chrome
  become: true
  package:
    name: google-chrome-stable
    
{{ else if eq .chezmoi.osRelease.id "ubuntu" }}

# install it manually. It automatically adds repo for updates

- name: Install Google Chrome with signed-by GPG key
  become: true
  block:
    - name: Ensure required packages are installed
      apt:
        name:
          - curl
          - gnupg
        state: present

    - name: Download and dearmor Google public key
      shell: |
        curl -fsSL https://dl.google.com/linux/linux_signing_key.pub | \
        gpg --dearmor -o /usr/share/keyrings/google-chrome.gpg
      args:
        creates: /usr/share/keyrings/google-chrome.gpg

    - name: Add Google Chrome APT repository
      copy:
        dest: /etc/apt/sources.list.d/google-chrome.list
        content: |
          deb [arch=amd64 signed-by=/usr/share/keyrings/google-chrome.gpg] http://dl.google.com/linux/chrome/deb/ stable main
        mode: '0644'

    - name: Update APT cache
      apt:
        update_cache: yes

    - name: Install Google Chrome Stable
      apt:
        name: google-chrome-stable
        state: latest

{{ else if eq .chezmoi.osRelease.id "arch" }}

- name: Install Google Chrome
  kewlfft.aur.aur:
    name: google-chrome

{{ else if eq .chezmoi.os "windows" }}

- name: Install Google Chrome
  win_chocolatey:
    name: googlechrome

{{ else }}

- name: Install Google Chrome
  fail:
    msg: "Google Chrome is not supported on {{ .chezmoi.osRelease.id }}"

{{ end }}
