{{ if eq (get .chezmoi.osRelease "id") "fedora" }}

- name: Install Google Chrome
  become: true
  package:
    name: google-chrome-stable
    
{{ else if eq (get .chezmoi.osRelease "id") "ubuntu" }}

- name: Install Google Chrome
  become: true
  block:
  
  {{ if not (isExecutable "/usr/bin/google-chrome-stable" )}}

    - name: Install Google Chrome - Ensure required packages are installed
      apt:
        name:
          - wget
          - gpg
          - apt-transport-https

    - name: Install Google Chrome - Download Google Chrome .deb package
      get_url:
        url: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        dest: /tmp/google-chrome.deb
        mode: '0644'

    - name: Install Google Chrome - Install Google Chrome from .deb file
      apt:
        deb: /tmp/google-chrome.deb

    - name: Install Google Chrome - Remove downloaded .deb package
      file:
        path: /tmp/google-chrome.deb
        state: absent
        
  {{ end }}

    - name: Install Google Chrome
      apt:
        name: google-chrome-stable
        state: latest

{{ else if eq (get .chezmoi.osRelease "id") "arch" }}

- name: Install Google Chrome
  kewlfft.aur.aur:
    name: google-chrome

{{ else if eq .chezmoi.os "darwin" }}

- name: Install Google Chrome
  homebrew:
    name: google-chrome
    state: present

{{ else if eq .chezmoi.os "windows" }}

- name: Install Google Chrome
  win_chocolatey:
    name: googlechrome

{{ else }}

- name: Install Google Chrome
  fail:
    msg: "Google Chrome is not supported on {{ get .chezmoi.osRelease "id" }}"

{{ end }}
