{{ if eq .os.idLike "arch" }}

- name: Install GnuPG
  become: true
  package:
    name: gnupg

{{ else if eq .chezmoi.os "darwin" }}

- name: Install GnuPG
  homebrew:
    name: gnupg
    state: present

- name: Install GPG Pinentry
  homebrew:
    name: pinentry-mac
    state: present

{{ else }}

- name: Install GnuPG
  become: true
  package:
    name: gpg

{{ end }}
