{{ if eq .chezmoi.os "windows" }}

- name: Install KeePass plugin KeeAnywhere
  win_chocolatey:
    name: keepass-plugin-keeanywhere

{{ else }}

- name: Install KeePassXC
  become: true
  package:
    name: keepassxc

{{ end }}
