{{ if eq .chezmoi.os "darwin" }}

- name: Install KeePassXC
  homebrew:
    name: keepassxc
    state: present

{{ else }}

- name: Install KeePassXC
  become: true
  package:
    name: keepassxc

{{ end }}
