{{ if eq .chezmoi.osRelease.id "fedora" }}

- name: Install Obsidian
  community.general.flatpak:
    name: md.obsidian.Obsidian

{{ else if eq .chezmoi.osRelease.id "ubuntu" }}

- name: Install Obsidian
  become: true
  snap:
    name: obsidian
    classic: true

{{ else }}

- name: Install Obsidian
  become: true
  package:
    name: obsidian

{{ end }}


