{{ if eq .chezmoi.osRelease.id "fedora" }}

- name: Install Obsidian
  community.general.flatpak:
    name: md.obsidian.Obsidian

{{ else }}

- name: Install Obsidian
  become: true
  package:
    name: obsidian

{{ end }}


