{{ if eq (env "XDG_SESSION_TYPE") "wayland" }}

  {{ if eq (env "XDG_CURRENT_DESKTOP") "GNOME" }}

- name: Install Swappy
  become: true
  package:
    name:
      - swappy
      - gnome-screenshot

  {{ else }}

- name: Install Swappy
  become: true
  package:
    name:
      - swappy
      - grim
      - slurp
      - wl-clipboard

  {{ end }}

{{ else }}

- name: Install Flameshot
  become: true
  package:
    name: flameshot

{{ end }}



