{{ if eq (env "XDG_SESSION_TYPE") "wayland" }}

# cannot find good tool 

  {{ if eq (env "XDG_CURRENT_DESKTOP") "GNOME" }}


  {{ end }}

{{ else }}

- name: Install Flameshot
  become: true
  package:
    name: flameshot

{{ end }}



