{{ if eq (get .chezmoi.osRelease "id") "ubuntu" }}

- name: Install Steam
  become: true
  snap:
    name: steam

{{ else }}

- name: Install Steam
  become: true
  package:
    name: steam

{{ end }}