{{ if eq (get .chezmoi.osRelease "id") "ubuntu" }}

- name: Install Telegram
  become: true
  snap:
    name: telegram-desktop

{{ else if eq .chezmoi.os "darwin" }}

- name: Install Telegram
  homebrew:
    name: telegram
    state: present

{{ else }}

- name: Install Telegram
  become: true
  package:
    name: telegram-desktop

{{ end }}