{{ if eq (get .chezmoi.osRelease "id") "arch" }}
- name: Install TickTick
  kewlfft.aur.aur:
    name: ticktick

{{ else if eq (get .chezmoi.osRelease "id") "fedora" }}

- name: Install TickTick
  community.general.flatpak:
    name: com.ticktick.TickTick

{{ else if eq (get .chezmoi.osRelease "id") "ubuntu" }}

- name: Install TickTick
  become: true
  snap:
    name: ticktick

{{ else if eq .chezmoi.os "darwin" }}

- name: Install TickTick
  homebrew:
    name: ticktick
    state: present

{{ else }}

- name: Install TickTick
  fail:
    msg: "TickTick installation is not supported on {{ get .chezmoi.osRelease "prettyName" }}"

{{ end }}
