{{ if eq (get .chezmoi.osRelease "id") "fedora" }}

- name: Install Visual Studio Code - Import Microsoft GPG key
  become: true
  rpm_key:
    key: https://packages.microsoft.com/keys/microsoft.asc
    state: present

- name: Install Visual Studio Code - Add VS Code repository
  become: true
  copy:
    dest: /etc/yum.repos.d/vscode.repo
    content: |
      [code]
      name=Visual Studio Code
      baseurl=https://packages.microsoft.com/yumrepos/vscode
      enabled=1
      autorefresh=1
      type=rpm-md
      gpgcheck=1
      gpgkey=https://packages.microsoft.com/keys/microsoft.asc
    owner: root
    group: root
    mode: "0644"

- name: Install Visual Studio Code - Install Visual Studio Code
  become: true
  package:
    name: code

{{ else if and ( eq (get .chezmoi.osRelease "id") "ubuntu" ) ( not (isExecutable "/usr/bin/code") ) }}

- name: Install Visual Studio Code via .deb if not already installed
  become: true
  block:
    - name: Install Visual Studio Code - Check if VS Code is already installed
      ansible.builtin.command: which code
      register: vscode_installed
      ignore_errors: true
      failed_when: false

    - name: Install Visual Studio Code - Ensure required packages are installed
      apt:
        name:
          - wget
          - gpg
          - apt-transport-https
        state: present
        update_cache: yes
      when: vscode_installed.rc != 0

    - name: Install Visual Studio Code - Preseed debconf to allow Microsoft repo auto-add
      ansible.builtin.debconf:
        name: code
        question: code/add-microsoft-repo
        value: "true"
        vtype: boolean
      when: vscode_installed.rc != 0

    - name: Install Visual Studio Code - Download VS Code .deb package
      get_url:
        url: https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64
        dest: /tmp/vscode.deb
        mode: '0644'
      when: vscode_installed.rc != 0

    - name: Install Visual Studio Code - Install VS Code from .deb file
      apt:
        deb: /tmp/vscode.deb
      when: vscode_installed.rc != 0

    - name: Install Visual Studio Code - Remove downloaded .deb package
      file:
        path: /tmp/vscode.deb
        state: absent
      when: vscode_installed.rc != 0

{{ else }}

- name: Install Visual Studio Code
  become: true
  package:
    name: code

{{ end }}
