- import_tasks: docker.yml
- import_tasks: google-chrome.yml

- name: Install packages
  become: true
  package:
    name:
      - gpg
      - build-essential
      - wl-clipboard
      - fd-find
      - ripgrep
      - fzf

- name: Install Neovim
  become: true
  snap:
    name: nvim
    classic: true

{{ if ne (get .chezmoi.osRelease "versionCodename") "noble" }}
- name: Install lazygit
  become: true
  package:
    name: lazygit
{{ end }}

- name: Install Obsidian
  become: true
  snap:
    name: obsidian
    classic: true

- name: Install Telegram
  become: true
  snap:
    name: telegram-desktop

- name: Install TickTick
  become: true
  snap:
    name: ticktick

- name: Install Spotify
  become: true
  snap:
    name: spotify

{{ if eq .hosttype "work" }}
- name: Install Bruno
  become: true
  snap:
    name: bruno

- name: Install DBeaver
  become: true
  snap:
    name: dbeaver-ce
{{ end }}

{{ if eq .hosttype "home" }}
- name: Install Steam
  become: true
  snap:
    name: steam
{{ end }}
