{{ if not (isExecutable "/usr/bin/google-chrome-stable") }}
- name: Install Google Chrome - Ensure required packages are installed
  become: true
  apt:
    name:
      - wget
      - gpg
      - apt-transport-https

- name: Install Google Chrome - Download Google Chrome .deb package
  become: true
  get_url:
    url: https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    dest: /tmp/google-chrome.deb
    mode: '0644'

- name: Install Google Chrome - Install Google Chrome from .deb file
  become: true
  apt:
    deb: /tmp/google-chrome.deb

- name: Install Google Chrome - Remove downloaded .deb package
  become: true
  file:
    path: /tmp/google-chrome.deb
    state: absent
{{ end }}

- name: Install Google Chrome
  become: true
  apt:
    name: google-chrome-stable
    state: present
