- import_tasks: fonts.yml
- import_tasks: keyboard.yml
- import_tasks: gnome-appindicator.yml
- import_tasks: apparmor.yml
- import_tasks: security.yml
- import_tasks: reflector.yml
- import_tasks: fwupd.yml
- import_tasks: aur-builder.yml
- import_tasks: system-update.yml
- import_tasks: services.yml
- import_tasks: docker.yml
- import_tasks: gnupg.yml
- import_tasks: neovim.yml
- import_tasks: obsidian.yml
- import_tasks: telegram.yml
- import_tasks: spotify.yml
- import_tasks: google-chrome.yml
- import_tasks: ticktick.yml
- import_tasks: vscode.yml
- import_tasks: kitty.yml
- import_tasks: insync.yml
{{ if eq .hosttype "work" }}
- import_tasks: bruno.yml
- import_tasks: dbeaver.yml
{{ end }}
{{ if eq .hosttype "home" }}
- import_tasks: steam.yml
{{ end }}
