{
  "$schema": "/etc/xdg/swaync/configSchema.json",
  "widgets": [
    "menubar#top",
    "volume",
    "backlight",
    "buttons-grid",
    "mpris",
    "inhibitors",
    "title",
    "dnd"
  ],
  "widget-config": {
    "menubar#top": {
      "buttons#screenshot": {
        "position": "left",
        "actions": [
          {
            "label": "",
            "command": " ~/.config/hypr/scripts/screenshot.sh & swaync-client -cp"
          }
        ]
      },
      "buttons#hyprpicker": {
        "position": "left",
        "actions": [
          {
            "label": "󰴱",
            "command": "swaync-client -cp && sleep 0.1 && hyprpicker -laq"
          }
        ]
      },
      "buttons#settings": {
        "position": "left",
        "actions": [
          {
            "label": "󰢻",
            "command": "XDG_CURRENT_DESKTOP=gnome gnome-control-center & swaync-client -cp"
          }
        ]
      },
      "menu#power": {
        "label": "󰐥",
        "position": "right",
        "actions": [
          {
            "label": "Suspend",
            "command": "mpc -q pause & amixer set Master mute & systemctl suspend"
          },
          {
            "label": "Restart...",
            "command": "systemctl reboot"
          },
          {
            "label": "Power Off...",
            "command": "systemctl poweroff"
          },
          {
            "label": "Log Out...",
            "command": "hyprctl dispatch exit"
          }
        ]
      },
      "buttons#lock": {
        "position": "right",
        "actions": [
          {
            "label": "󰍁",
            "command": "swaync-client -cp & playerctl --all-players pause && pidof hyprlock || hyprlock"
          }
        ]
      }
    },
    "volume": {
      "label": "󰕾"
    },
    "backlight": {
      "label": "󰃟",
      "device": "{{ output "sh" (joinPath .chezmoi.sourceDir ".chezmoitemplates" "linux" "backlight-devices.sh") | trim }}"
    }
  }
}
