- name: Install tmux
  become: true
  package:
    name: tmux
    state: present

- name: Clone TPM
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ .chezmoi.homeDir }}/.tmux/plugins/tpm"
    depth: 1

- name: Install tmux plugins
  command: "{{ .chezmoi.homeDir }}/.tmux/plugins/tpm/bin/install_plugins"
  changed_when: false
  timeout: 120
  environment:
    GIT_CONFIG_COUNT: "1"
    GIT_CONFIG_KEY_0: credential.helper
    GIT_CONFIG_VALUE_0: ""
